<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="main">
      <h3 class="titulo">Basado en tu ultima visita o nuevos productos</h3>
      <section class="section">
        <!-- HACER UN FOR PARA CADA CARD -->

        <% productos.forEach(producto => { %>
          <a href="products/productDetail/<%= producto.id %>">
        <div class="ver">
          <img
            class="imagenproducto"
            src="img/products/<%= producto.image %> "
            alt="alt"
          />
          <article>
            <div class="pdp">
              <p class="precio">$<%= producto.price %></p>
              <p class="producto"><%= producto.name %></p>
              <p class="descuento"><%= producto.description %></p>
            </div>
          </article>
        </div>
      </a>
        <% }) %>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
