<html lang="en" class="html-register">
  <%- include('../partials/head.ejs') %>
<body class="bodyregister">
<<<<<<< HEAD
  <% if (locals.errors) { %>
   <% for(let oneError in errors) { %> 
    <p><%= errors[oneError].msg %> </p>
   <% } %>
  <% } %>
    <div class="cajaregister">
        <div class="titulo">
          <h3>Registration</h3>
        </div>
        <form method="POST" action="/users/register" enctype="multipart/form-data">
           <div class="inputBox">
              <input 
              type="text" 
              class="form-control <%= locals.errors && errors.fullName ? is.invalid : null %>"
              placeholder="FirstName" 
              name="nombre"
              value="<% locals.oldData ? oldData.fullName : null %>"
              >
           </div>  
          <% if (local.errors && errors.fullName) { %>
            <div class="text-danger">
              <%= errors.fullName.msg %>
              <input type="text" class="input"placeholder="LastName" name="apellido"> <% //cambiar la clase y agregar el value %> 
           </div>
           <% if (local.errors && errors.apellido) { %>
            <div class="text-danger">
              <%= errors.apellido.msg %>
           <div class="inputBox">
              <input type="password" class="input" placeholder="Password" name="contraseña"> <% //cambiar la clase y agregar el value %> 
           </div>
           <% if (local.errors && errors.contraseña) {%>
            <div class="text-danger">
              <%= errors.contraseña.msg %> 
          <div class="inputBox">
              <input type="password" class="input" placeholder="ConfirmPassword" name="confirmarContraseña"> <% //cambiar la clase y agregar el value %>
           </div>
           <% if (local.errors && errors.confirmarContraseña) {%>
            <div class="text-danger">
              <%= errors.confirmarContraseña.msg %> 
            <div class="inputBox">
              <input type="text" class="input" placeholder="EmailAddress" name="email"> <% //cambiar la clase y agregar el value %> 
           </div>
           <% if (local.errors && errors.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %>
           <div>
             <label><b>Imagen de perfil:</b></label>
             <input class="inputBox" type="file" name="avatar">
           </div>
          <div class="inputBox terms">
              <label class="check">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <p>Agreed to terms and conditions</p>
           </div> 
          <div class="todosbotones">
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
            <button type="button">Login</button>
=======
  <div class="cajaregister">
    <div class="titulo">
      Registration
    </div>
    <form action="/registrar" method="POST">
      <div class="inputBox">
        <label for="nya" class="form-label">Nombre completo</label>
        <input id="nya" name="nya" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.nya %><%}%>">              
      </div>
      <div class="inputBox">
        <label for="email" class="form-label">E-mail</label>
        <input id="email" name="email" type="email" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.email %><%}%>">              
      </div>
      <div class="inputBox">
        <label for="edad" class="form-label">Edad</label>
        <input id="edad" name="edad" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.edad %><%}%>">              
      </div>
      <div class="inputBox">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.password %><%}%>">              
      </div>               
      <button type="submit" class="register">Register</button>
    </form>
     <% if(typeof validaciones != 'undefined') { %>
      <% validaciones.forEach( (validacion)=> { %>                 
        <div class="toast">
      <div class="toast" role="alert" aria-live="assertive" data-bs-autohide="false">
          <div class="toast">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
            <strong class="me-auto">¡Atención!</strong>                 
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
>>>>>>> e29f83cfce6c9448657e884ba3be9c54f1c56f24
          </div>
          <div class="toast-body">
            <strong><%= validacion.msg %></strong> 
          </div>
      </div>
        </div>              
        <% }) %>
    <% } %>
     <% if(typeof validaciones != 'undefined') { %>
      <% validaciones.forEach( (validacion) => {  %> 
   
          <%= validacion.msg %>
 
      <% }) %>
    <% } %>
</div>   
<script>
document.addEventListener('DOMContentLoaded', function () {
var toastElList = [].slice.call(document.querySelectorAll('.toast'))
var toastList = toastElList.map(function(toastEl) {    
return new bootstrap.Toast(toastEl)
});
toastList.forEach(toast => toast.show());
});
</script>
</body>
</html>